body {
   
    margin: 0;
    padding: 0;
    background-color:#E5CFF7;
}

.wrap{
    width: 90%;
    height: 90%;
    background-color: #f4f4f4;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
}

div {
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}



ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}


button.active {
    background-color: #5B0888;
    color: white;
}

button:hover {
    opacity: 0.8;
}

div ul{
    list-style-type: square;
    text-align: left;
}
